<div class="alert alert-danger mb-3" ng-show="vm.error">
    <p ng-show="vm.error.description"><b>{{ vm.error.description }}</b></p>
    <ul ng-show="vm.error.errors">
        <li ng-repeat="error in vm.error.errors">{{ error }}</li>
    </ul>
</div>

<div class="card">
    <div class="card-header">
        Add Verse
    </div>
    <div class="card-body">
        <div class="mb-3">{{ vm.selected.verse.verse || '...' }}</div>

        <div class="row">
            <div class="col-md-6 mb-2">
                <select style="width: 100%"
                        ng-disabled="vm.isLoading"
                        name="selectedBook"
                        id="selectedBook"
                        ng-model="vm.selected.book"
                        ng-options="book.name group by book.testament for book in vm.books track by book.id"
                        ng-change="vm.onSelectBook(vm.selected.book)">
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <select style="width: 100%"
                        ng-disabled="vm.isLoading"
                        name="selectedChapter"
                        id="selectedChapter"
                        ng-model="vm.selected.chapter"
                        ng-options="chapter.id for chapter in vm.chapters track by chapter.id"
                        ng-change="vm.onSelectChapter(vm.selected.chapter)">
                </select>
            </div>
            <div class="col-md-3 mb-2">
                <select style="width: 100%"
                        ng-disabled="vm.isLoading"
                        name="selectedVerse"
                        id="selectedVerse"
                        ng-model="vm.selected.verse"
                        ng-options="verse.id for verse in vm.verses track by verse.id">
                </select>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        <button class="btn btn-primary" ng-disabled="vm.isLoading" ng-click="vm.save()">Save</button>
    </div>
</div>