<div id="crossReferenceModal" ng-show="vm.isOpen">
    <p>
        <i ng-show="vm.isLoading">Finding Cross References...</i>
        <i ng-show="!vm.isLoading">Found {{ vm.relatedVerses.length }} Cross References</i>
        <span class="pull-right"><a href="" ng-click="vm.close()">[x] close</a></span>
    </p>

    <div ng-show="vm.isLoading">
        Loading...
    </div>

    <div ng-show="!vm.isLoading" class="overflow clear">
        <div class="well mb20 p15" ng-repeat="items in vm.relatedVerses" style="background-color: #f2f2f2;">
            <div ng-repeat="relatedVerse in items">
                <p ng-show="$first"><b>{{ relatedVerse.book.name }}</b> - <i>{{ relatedVerse.book.testament }}</i></p>
                <p><b>{{ relatedVerse.chapterId }}:{{ relatedVerse.verseId }}</b> {{ relatedVerse.verse }}</p>
            </div>
        </div>
    </div>
</div>
