<div id="topnav" ng-class="{ 'nav-open': vm.navIsOpen }">
    <div id="toggler" class="pl-2 pull-left">
        <svg ng-click="vm.onToggleLeftNav()" class="toggle-leftnav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
    </div>
    <div class="ml-3 pull-left title">
        <h2 ng-bind-html="vm.title"></h2>
    </div>
    <div class="pull-right translation-widget">
        <translation-selector></translation-selector>
    </div>
</div>

<div id="left-nav" ng-class="{ 'nav-open': vm.navIsOpen }">
    <div class="p-4">
        <h4 class="mb-3">Keyword Search</h4>
        <search-input></search-input>

        <h4 class="mt-4 mb-3">Jump To Book</h4>
        <book-selector class=""></book-selector>
    </div>
</div>
<div id="main" class="pl-5 pr-5" ng-class="{ 'nav-open': vm.navIsOpen }">
    <div id="content">
        <div ui-view></div>
    </div>
</div>
