<div class="row mb-4">
    <div class="col-md-12">
        <span class="badge p-2 badge-secondary fw-600 otHitBadge">Old Testament - <span ng-show="vm.isLoadingCounts">Loading...</span><span ng-show="!vm.isLoadingCounts">{{ vm.otHits | number }} Results</span></span>
        <span class="badge p-2 badge-secondary fw-600 ntHitBadge">New Testament - <span ng-show="vm.isLoadingCounts">Loading...</span><span ng-show="!vm.isLoadingCounts">{{ vm.ntHits | number }} Results</span></span>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <canvas id="graph" width="100%" height="275"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6" ng-repeat="item in vm.result.items">
        <div class="well mb20 p15 search-result">
            <p>
                <b>
                    <a title="Navigate To Verse" ui-sref="home.book({bookId: item.book.id, chapterId: item.chapterId, verseId: item.verseId})">{{ item.book.name }} {{ item.chapterId }}:{{ item.verseId }}</a>
                </b>
                -
                <i>{{ item.book.testament }}</i>
            </p>

            <p ng-bind-html="item.verse"></p>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <button ng-show="vm.result.total > vm.result.items.length" ng-disabled="vm.isLoading" ng-click="vm.loadMore()" class="btn btn-primary">Load More</button>
</div>
